* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background: #f2d16f;
}

.navbar{
  padding: 10px;
  background: #989048 !important;
}

.nav-brand {
  color: white;
}
